.loginForm{
  width: 300px;
  background:white;
  position: relative;
  padding:20px 30px;
  border-radius: 8px;
  box-shadow:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin:auto;
  top:50%
}
.loginForm input[type = email]{
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 10px 30px 2px 15px;
  
  outline: 0;
  border-top: 0;border-left: 0;border-right: 0;
}
.loginForm input[type = password]{
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 10px 30px 2px 15px;
  
  outline: 0;
  border-top: 0;border-left: 0;border-right: 0;
}

